@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Smythe&display=swap');

header {
  background: var(--cyan);
  background-image: url(images/pr.svg);
  background-repeat: repeat;
  color: var(--white);
  padding: var(--spacing-6) var(--spacing-0) var(--spacing-6);
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.banner {
  position: absolute;
  top: -10px;
  left: var(--spacing-4);
}

.banner img {
  height: 80px;
}

.banner:hover img {
  animation: wave-flag 0.5s linear infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
  .banner:hover img {
    transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
    transform-origin: top left;
  }
}

@keyframes wave-flag {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.card {
  font-size: var(--font-3);
}

.blurb {
  border-radius: var(--radii-default);
  padding: var(--spacing-4);
}

.blurb p {
  line-height: 1.75;
}

header > p, header > p > a{
  color: var(--white)!important;
}

.container {
  margin: var(--spacing-5) auto;
}

.no-repos {
  color: var(--white);
  font-style: italic;
}

.repos {
  background: var(--primary);
  padding: var(--spacing-4) 0;
}

.repos h2 {
  margin-bottom: var(--spacing-4);
}

.repos ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-3);
}

@media (max-width: 768px) {
  .repos ul {
    grid-template-columns: 1fr;
  }
}

.repo {
  margin: 0;
}

.repo .description {
  min-height: 50px;
}

.issues-count,
.language {
  float: right;
  margin-right: var(--spacing-1);
  top: 0;
}

/* How to contribute section */
#how-do-i-contribute {
  font-size: var(--font-4);
}

/* Shared styles */
.hidden {
  display: none;
}

.highlight {
  background-image: linear-gradient(
    -100deg,
    rgba(243, 234, 164, 0.33),
    rgba(243, 234, 164, 0.95),
    rgba(243, 234, 164, 0.1)
  );
}

.no-styles-a {
  color: inherit;
  text-decoration: none;
  text-underline-position: under;
}

.no-styles-a:hover {
  color: var(--primary);
  text-decoration: none;
  text-underline-position: under;
}

#active-repositories {
  color: var(--white)
}

.new ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing-3);
  padding-inline-start: 0 !important; /* overide default padding-inline-start */
}

.new li {
  position: relative;
}

.new li:nth-child(odd){
  background-color: var(--cyan);
}

.new li:nth-child(even){
  background-color: var(--cyan);
}

@media screen and (max-width: 768px) {
  .involveBig ol {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 520px) {
  .involveBig ol {
    grid-template-columns: 1fr;
  }
}

.card-design {
  position: absolute;
  bottom: -30px;
  right: -5px;
  font-family: 'Baloo 2', cursive;
  opacity: 20%;
  font-size: 60px;
}

.involve {
  color: var(--white)
}
.involve h3 {
  font-size: var(--font-5);
}

.involve p {
  font-size: var(--font-3);
  color: var(--white);
}

.involve a {
  font-size: var(--font-4);
  color: var(--white);
}

.involve img {
  height: 40%;
  position: absolute;
  bottom: -5%;
  right: -5%;
  opacity: 20%;
}

.dino-svg {
  opacity: 50% !important;
}